@model IPagedList<Category>
@{
	ViewData["Title"] = "Index";
}

<h1>Category</h1>

@foreach(var item in Model)
{
	@item.Name<br />
}

@Html.PagedListPager( (IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }) )